hr {
	width: 40%
}
h2 {
	text-align: center;
}

#projectsTitle {
	margin-top: -50px;
	margin-bottom: 50px;
	color: #1106FF;
}

#experiencesTitle {
	margin-top: -50px;
	margin-bottom: 50px;
	color: #1106FF;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: -5px 2px;
    border-radius: 10%;
    background-color: white;
    color: #1106FF;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}


.navbar {
  background-color: white;
  position: fixed; 
  top: 0px; 
  width: 100%; 
  text-align: right;
  z-index: 1000;
}

.ul-social-div {
	margin-right: 9%;
}

.ul-social {
	right: 10%;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.navbar a {
	color: #1106FF;
}

#home {
	padding-top: 150px;
	background-color: white;
	height: 100vh;
}

.home1 {
	left: 13%;
}
.home2 {
	right: 8%;
}

#nameAndTitle {
	color: #1106FF;
	margin-top: 10%;
	text-align: center;	
}

#experiences {
	padding: 100px;
}

#experiences span{
	margin-left: 50%;
}

#experiences .jobCard {
	width: 60%;
}

#projects {
	padding: 80px;
}

#myCard {
	margin-left: 50px;
	min-height: 400px;
	min-width: 500px;
}