hr {
	width: 40%
}
h2 {
	text-align: center;
}

#projectsTitle, #experiencesTitle, #aboutMeTitle {
	margin-bottom: 50px;
	color: black;
}

/*Social Media Buttons*/
.fa {
	padding: 20px;
	font-size: 40px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	margin: -5px 2px;
	border-radius: 10%;
	background-color: white;
	color: black;
}

.fa:hover {
	opacity: 0.7;
	text-decoration: none;
}

.ul-social-div {
	margin-right: 4.5%;
}

.ul-social {
	right: 10%;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

/*Home Page*/

#home {
	padding-top: 60px;
	background-color:#58D3F7;
	height: 100vh;
}

#homeCard {
	background-color: white;
	border: none;
	margin: 0 auto;
	max-width: 80%;
	max-height: 80%;
	min-height: 90%;
}
#nameAndTitle {
	margin-top: 100px;
	color: black;
	text-align: center;	
	font-family: "Droid Serif";
}

#nameAndTitle h1, h2{
	color: #43464b;
	text-align: center;	
	font-family: "Droid Serif";
}

#nameAndTitle h1 {
	font-size: 80px;
	color:black;
}


.navbar {
	background-color: white;
	position: fixed; 
	top: 0px; 
	width: 100%; 
	text-align: right;
	z-index: 1000;
}


.navbar a {
	color: #1106FF;
}

#about {
	padding: 100px;
	background-color:#58D3F7;
		height: 100vh;
}
#about img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#experiences {
	padding: 100px;
	background-color: #58D3F7;
		height: 100vh;
}

#experiences span{
	float: right;
}

#experiencesCard {
		background-color: white;
	border: none;
	max-width: 80%;
	min-height: 90%;
}

#experiences .jobCard {
	width: 60%;
	margin-left: 20%;

}

#projects {
	padding: 80px;
	background-color: #58D3F7;
}

#projectsCard {
		background-color: white;
	border: none;
	max-width: 80%;
	max-height: 80%;
	min-height: 90%;
}

#myCard {
	margin-left: 50px;
	min-height: 400px;
	min-width: 500px;
}